#rename this file to keep your own server setup private

#URL of the signaling server running https://github.com/because-why-not/awrtc_signaling
SIGNALING_URI="ws://127.0.0.1/callapp"

SIGNALING_CONFERENCE_URI="ws://127.0.0.1/conferenceapp"

#secret passphrase used to connect to the other client
ADDRESS=your_test_passphrase

#workaround for open cv warning. unclear if this is needed
QT_QPA_PLATFORM=xcb